<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <!-- HEADER -->

    <!-- Navigation -->
    <nav th:replace="fragments :: navigation"></nav>

    <!-- BODY CONTENT -->

    <div class="container">

        <h1>Getting Started</h1>
        <hr>
        <h2>Pre-Requisites</h2>
        <ul>
            <li><a href="https://nodejs.org/en/" target="_blank">nodeJS</a></li>
            <li><a href="https://www.oracle.com/java/technologies/downloads/#jdk17-mac" target="_blankå">Java Development Kit</a></li>
            <li><a href="https://dev.mysql.com/downloads/mysql/" target="_blank">MySQL Community Server</a></li>
            <li><a href="https://dev.mysql.com/downloads/workbench/" target="_blank">MySQL Workbench</a></li>
        </ul>

    </div>

</body>
</html>