<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <!-- HEADER -->

    <!-- Navigation -->
    <nav th:replace="fragments :: navigation"></nav>

    <!-- BODY CONTENT -->

    <div class="container">

        <h1>Development Journal</h1>
        <hr>
        <h2>Table of Contents</h2>

        <pre>
            <code>
                public class Main {
                    public static void main (String[] args) {
    
                    }
                }
            </code>
        </pre>
        
    </div>

</body>
</html>