<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        
        <!-- HEADER -->

        <header th:replace="fragments :: header"></header>
        <br>

        <!-- BODY CONTENT -->

        <!-- Recipe Form -->
        <form method="post" action="/recipes/create">
            <!-- User Inputs Recipe Name -->
            <div class="mb-3"> <!-- margin bottom - size -->
                <label class="form-label" for="inputField">Enter recipe name (3 to 50 characters):</label>
                <!-- Thymeleaf calls constructor to pass in data -->
                <input class="form-control" type="text" id="inputField" placeholder="Recipe Name" th:field="${recipe.name}" />
                <!-- Thymeleaf inserts error message related to field -->
                <p class="error" th:errors="${recipe.name}"></p>
            </div>

            <!-- User Selects a Cuisine -->
            <div class="mb-3">
                <label class="form-label" for="cuisine">Select a cuisine:</label>
                <select class="form-select" id="cuisine" aria-label="Default select example" th:field="${recipe.cuisine}">
                    <option selected value=" ">---</option>
                    <th:block th:each="cuisine : ${cuisines}">
                        <option th:text="${cuisine}" th:value="${cuisine}">default option</option>
                    </th:block>
                </select>
                <p class="error" th:errors="${recipe.cuisine}"></p>
            </div>

            <!-- User Submit Button -->
            <input class="btn btn-success" type="submit" value="submit" />
            <button class="btn btn-secondary" id="btnClearTextField">Clear</button>
        </form>

        <script src="/js/script.js"></script>
    </body>
</html>