<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <!-- HEADER -->

            <!-- Navigation -->
            <nav th:replace="fragments :: navigation"></nav>

        <!-- BODY CONTENT -->

            <!-- Delete Recipe Form -->
            <div class="container">

                <h1>Remore Recipes</h1>

                <form method="post" action="/recipe/delete">
                    <th:block th:each="recipe : ${recipes}">
                        <div class="form-group">
                            <label>
                                <span th:text="${recipe.recipeName}"></span>
                                <input class="form-control" type="checkbox" name="recipeIds" th:value="${recipe.id}" />
                            </label>
                        </div>
                    </th:block>
    
                    <input class="btn btn-danger" type="submit" value="Delete Selected Events" />
                </form>

            </div>

    </body>
</html>