<!DOCTYPE html>
<html>
    <head th:replace="fragments :: head"></head>
    <body>

    <!-- HEADER -->

        <!-- Navigation -->
        <nav th:replace="fragments :: navigation"></nav>

    <!-- BODY CONTENT -->

        <div class="container">

            <!-- Title -->
            <h1>Recipe Form</h1>
    
            <!-- Recipe Form -->
            <!-- 
                Form sends user input as a POST to the Recipe Controller 
                at "/recipes/form"
             -->
            <form method="post" action="/recipes/form">
                <label for="inputRecipeName">Enter a recipe name:</label>
                <input id="inputRecipeName" type="text" placeholder="recipe name" name="recipeName" />
                <input class="btn btn-primary" type="submit" value="submit" />
            </form>
            
        </div>
        
    </body>
</html>