<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div class="container">

        <!-- HEADER -->

            <h1 th:text="${title}">Default Header</h1>

            <!-- Navigation -->
            <nav th:replace="fragments :: navigation"></nav>
            <br>

        <!-- BODY CONTENT -->

            <!-- Recipe Form -->
            
            <form method="post" action="/recipes/create">
                <div class="mb-3"> <!-- margin bottom - size -->
                    <label class="form-label" for="recipe">Enter recipe name (3 to 50 characters):</label>
                    <!-- Thymeleaf calls constructor to pass in data -->
                    <input class="form-control" type="text" id="recipe" placeholder="Recipe Name" th:field="${recipe.name}" />
                    <!-- Thymeleaf inserts error message related to field -->
                    <p class="error" th:errors="${recipe.name}"></p>
                </div>

                <!-- User Submit Button -->
                <input class="btn btn-success" type="submit" value="submit" />
            </form>

        </div>

    </body>
</html>