<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        
        <!-- HEADER -->
        <header th:replace="fragments :: header"></header>

        <!-- BODY CONTENT -->
        <div class="container">

            <h1 th:text="${title}">Default Heading</h1>
            
            <!-- Table of Recipes -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recipe</th>
                        <th>Cuisine</th>
                        <th>Category</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td th:text="${recipe.id}">recipe id</td>
                        <td><a th:text=${recipe.name} 
                               href="/recipes/selected-recipe"
                               name="recipeId"
                               th:value="${recipe.id}">recipe name</a></td>
                        <td th:text="${recipe.recipeCuisine.name}">cuisine</td>
                        <td th:text="${recipe.recipeCategory.name}">cuisine</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- FOOTER -->
        <footer th:replace="fragments :: footer"></footer>

    </body>
</html>