<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        
        <!-- HEADER -->

        <header th:replace="fragments :: header"></header>

        <!-- BODY CONTENT -->

        <!-- Table of Recipes -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Recipe</th>
                    <th>Cuisine</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recipe : ${recipes}">
                    <td th:text="${recipe.id}">recipe id</td>
                    <td th:text="${recipe.name}">recipe name</td>
                    <td th:text="${recipe.recipeCuisine.name}">cuisine</td>
                    <td th:text="${recipe.recipeCategory.name}">cuisine</td>
                </tr>
            </tbody>
        </table>

        <!-- FOOTER -->

        <footer th:replace="fragments :: footer"></footer>

    </body>
</html>