<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        
        <div class="container">
            
        <!-- HEADER -->

            <h1 th:text="${title}">Default Heading</h1>
    
            <!-- Navigation -->
            <nav th:replace="fragments :: navigation"></nav>

        <!-- BODY CONTENT -->

            <!-- Table of Recipes -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Recipe Names</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td th:text="${recipe.name}">some recipe name</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </body>
</html>