<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <!-- HEADER -->

            <!-- Navigation -->
            <nav th:replace="fragments :: navigation"></nav>

        <!-- BODY CONTENT -->

            <!-- Recipe Form  -->
            <div class="container" id="recipeFormContainer">
                <div class="row">

                    <!-- Recipe Form -->
                    <div class="card" id="recipeForm">   
                        <form method="post" action="/recipe">
                            <!-- Input Recipe Name -->
                            <div class="form-group">
                                <label for="inputRecipeName">Recipe Name:</label>
                                <input class="form-control" id="inputRecipeName" type="text" placeholder="Recipe Name" name="recipeName" />
                            </div>
                            <!-- Input Cuisine Type -->
                            <div>
                                <label for="inputCuisineType">Cuisine Type:</label>
                                <input class="form-control" id="inputCuisineType" type="text" placeholder="Cuisine Type" name="cuisineType" />
                            </div>
                            <!-- Button sends input data to controller @"/recipe" -->
                            <input class="btn btn-primary" type="submit" value="submit" />
                        </form>
                    </div>

                </div>
            </div>

            <!-- Display a Recipes -->
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Recipe</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="recipe : ${recipes}">
                            <td th:text="${recipe.id}">ID</td>
                            <td th:text="${recipe.recipeName}">Recipe Name</td>
                            <td th:text="${recipe.cuisineType}">Cuisine Type</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
    </body>
</html>