<!DOCTYPE html>
<html>
    <head th:replace="fragments :: head"></head>
    <body>

    <!-- HEADER -->

        <!-- Navigation -->
        <nav th:replace="fragments :: navigation"></nav>

    <!-- BODY CONTENT -->

        <div class="container">

            <!-- Title -->
            <h1>Welcome to the Recipe Home Page!</h1>
    
            <!-- Table of Recipes -->
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recipes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td th:text="${recipe.id}">id</td>
                        <td th:text="${recipe.recipeName}">Recipe Name</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </body>
</html>