<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <!-- HEADER -->

            <!-- Navigation -->
            <nav th:replace="fragments :: navigation"></nav>

        <!-- BODY CONTENT -->

            <!-- Display a Recipes -->
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Recipe</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="recipe : ${recipes}">
                            <td th:text="${recipe.id}">ID</td>
                            <td th:text="${recipe.recipeName}">Recipe Name</td>
                            <td th:text="${recipe.cuisineType}">Cuisine Type</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
    </body>
</html>