<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <!-- HEADER -->

            <!-- Navigation -->
            <nav th:replace="fragments :: navigation"></nav>

        <!-- BODY CONTENT -->

            <!-- Display a Recipes -->
            <div class="container">
                <h1>Table of Recipes</h1>
                
                <div class="row">
                    <a href="/recipe/form">
                        <button class="btn btn-primary">Create Recipe</button>
                    </a>
                    <a href="/recipe/delete">
                        <button class="btn btn-warning">Remove Recipe</button>
                    </a>
                </div>
                <br>    

                <!-- Table of Recipes -->
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Recipe</th>
                            <th>Cuisine</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="recipe : ${recipes}">
                            <td th:text="${recipe.id}">ID</td>
                            <td th:text="${recipe.recipeName}">Recipe Name</td>
                            <td th:text="${recipe.cuisineType}">Cuisine Type</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
    </body>
</html>