<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        
        <!-- HEADER -->
        <header th:replace="fragments :: header"></header>

        <!-- BODY CONTENT -->
        <div class="container">

            <h1 th:text="${title}">Default Heading</h1>
            
            <!-- Search Form -->
            <form method="post" action="/recipes/search">
                <div class="mb-3">
                    <label class="form-label" for="inputField">Enter recipe to search:</label>
                    <input class="form-control" id="inputField" type="text" name="recipeSearch" />
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
                <button class="btn btn-secondary" id="btnClearTextField">Clear</button>
            </form>
            <br>
    
            <!-- Table of Searched Recipes -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recipe</th>
                        <th>Cuisine</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td th:text="${recipe.id}">recipe id</td>
                        <td><a th:text="${recipe.name}"
                               th:href="'/recipes/selected-recipe?recipeId=' + ${recipe.id}">recipe name</a></td>
                        <td th:text="${recipe.recipeCuisine.name}">cuisine</td>
                        <td th:text="${recipe.recipeCategory.name}">category</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- FOOTER -->
        <footer th:replace="fragments :: footer"></footer>

        <!-- JavaScript -->
        <script src="/js/script.js"></script>
    </body>
</html>