<!DOCTYPE html>
<html>
    <head th:replace="fragments :: head"></head>
    <body>

        <!-- HEADER -->
        <header th:replace="fragments :: header"></header>

        <!-- BODY CONTENT -->
        <div class="container">

            <h1 th:text="${title}">Default Heading</h1>
    
            <!-- Form to create cuisines. -->
            <form method="post" action="/recipes/cuisine/create">
                <div class="mb-3">
                    <label class="form-label" for="inputField">Create a cuisine for your recipe.</label>
                    <input class="form-control" id="inputField" type="text" placeholder="Create a cuisine..." th:field="${recipeCuisine.name}" />
                    <p class="error" th:errors="${recipeCuisine.name}"></p>
                </div>
    
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-secondary" id="btnClearTextField">Clear</button>
            </form>

        </div>

        <!-- FOOTER -->
        <footer th:replace="fragments :: footer"></footer>

        <!-- JavaScript -->
        <script src="/js/script.js"></script>

    </body>
</html>