<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <!-- HEADER -->
        <header th:replace="fragments :: header"></header>

        <div class="container">

            <h1 th:text="${title}">Default Heading</h1>

            <!-- List of Ingredients -->

            <!-- Button: Create Ingredient -->
            <!-- Button: Delete Ingredient -->

        </div>

        <!-- FOOTER -->
        <footer th:replace="fragments :: footer"></footer>

    </body>
</html>