/* GLOBAL */
.disabled-link {
    color: gray;
}

/* HEADER */
header {
    background-color: ghostwhite;
}

.navbar-toggler-icon {
    background-color: black;
}

/* BODY CONTENT */
/* Input Error Messages */
.error {
    color: red;
}

/* FOOTER */
footer {
    background-color: gold;
    display: grid;
    grid-template-columns: 30% auto auto auto;
    gap: 10px;
}

/* For every div child one step below the footer only. */
footer > div.footer-container {
    background-color: ghostwhite;
    margin: 10px;
    padding: 20px;
}

/* Footer Link Lists */
.footer-container ul {
    list-style: none;
}

.footer-container-header {
    position: relative;
}

.footer-container-header img {
    height: 30px;
    float: left;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer-container-header h5 {
    font-size: 20px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}