/* DEFAULT */
body {
    background-color: black;
    color: white;
}

h1 {
    align: center;
}

a {
    color: lightblue;
}

table, th, td {
    padding: 10px;
    border: 1px solid white;
}

table {
    width: 100%;
    border-collapse: collapse;
}
