/* GLOBAL */
.disabled-link {
    color: gray;
}

/* HEADER */
header {
    background-color: #e5e5e5;
    position: relative;
    height: 100px;
}

nav {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* BODY CONTENT */
/* Input Error Messages */
.error {
    color: red;
}

/* FOOTER */
footer {
    /* background-color: red; */
    position: relative;
    min-height: 400px;
}

#footer-container-all {
    /* background-color: violet; */
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#footer-container-2 a,
#footer-container-3 a,
#footer-container-4 a {
    display: block;
}

.footer-container {
    margin: 0;
    padding: 0 20px;
    background-color: #e5e5e5;
}

    .footer-container-header {
        height: 40px;
    }

        .footer-logo {
            height: 30px;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            float: left;
        }

        .footer-container-title {
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

#footer-copyright {
    background-color: #e5e5e5;
    padding: 20px 0;
    text-align: center;
}


@media only screen and (max-width: 900px) {

    header {
        background-color: #e5e5e5;
        position: none;
        height: auto;
    }
    
    nav {
        position: none;
        top: 0%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }

    footer {
        /* background-color: red; */
        position: none;
    }

    #footer-container-all {
        /* background-color: violet; */
        position: none;
        top: 0%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    
    #footer-container-1,
    #footer-container-2,
    #footer-container-3,
    #footer-container-4 {
        padding: 10px 0;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .footer-container-header {
        height: fit-content;
    }

    .footer-logo {
        float: none;
        top: 0;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    .footer-container-title {
        top: 0;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}