<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">

        <!-- HEADER -->

        <header th:replace="fragments :: header"></header>

        <!-- BODY CONTENT -->
        <form method="post" action="/recipes/category/delete">
            <div class="mb-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Recipe Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="recipeCategory : ${recipeCategories}">
                            <td><input id="inputCheckbox" type="checkbox" name="recipeCategoryIds" th:value="${recipeCategory.id}" /></td>
                            <td th:text="${recipeCategory.name}">Recipe Category</td>
                        </tr>
                    </tbody>
                </table>
                
                <button class="btn btn-danger" type="submit">Delete</button>
                <button class="btn btn-secondary" type="button" onclick="clearInputCheckboxCategory()">Clear All</button>
                <button class="btn btn-warning" type="button" onclick="selectInputCheckboxCategory()">Select All</button>
            </div>
            <p class="form-text">Before deleting category or categories, you must delete recipe(s) containing that category.</p>
        </form>

        <!-- FOOTER -->

        <footer th:replace="fragments :: footer"></footer>

        <!-- JavaScript -->
        <script src="/js/script.js"></script>
    </body>
</html>