<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Contact List</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

    <!-- HEADER -->
    <h1>Navigation</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact/form">Contact Form</a></li>
    </ul>
    <hr>

    <!-- BODY CONTENT -->
    <h1>My Contact List</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><th:block th:each="contactName : ${contactNames}"><p th:text="${contactName}">Name</p></th:block></td>
                <td><th:block th:each="contactEmail : ${contactEmails}"><p th:text="${contactEmail}">Email</p></th:block></td>
                <td><th:block th:each="contactCountry : ${contactCountries}"><p th:text="${contactCountry}">Country</p></th:block></td>
            </tr>
        </tbody>
    </table>
</body>
</html>