<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Contact List</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

    <!-- HEADER -->
    <h1>Navigation</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/greeting">Greeting</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/contactForm">Contact Form</a></li>
    </ul>
    <hr>

    <!-- BODY CONTENT -->
    <h1>My Contact List</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.name}">Name</td>
                <td th:text="${contact.email}">Email</td>
                <td th:text="${contact.country}">Country</td>
            </tr>
        </tbody>
    </table>
</body>
</html>