<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

    <!-- HEADER -->
    <h1>Navigation</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <hr>

    <!-- BODY CONTENT -->
    <h1>My Contact List</h1>
    <br>

    <!--  Table of Contacts  -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.name}">Name</td> <!-- ".name" Thymeleaf assumes getName() method  -->
                <td th:text="${contact.email}">Email</td>
                <td th:text="${contact.country}">Country</td>
            </tr>
        </tbody>
    </table>
</body>
</html>