<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Destinations</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

    <!-- HEADER -->
    <h1>Navigation</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/destinations/form">Destination Form</a></li>
        <li><a href="/greeting">Greeting</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <hr>

    <!-- BODY CONTENT -->
    <h1>Destination Page</h1>

</body>
</html>