<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <title th:text="${title}">Default Title</title> <!-- title in controller -->
</head>
<body>

    <!--  NAVIGATION  -->
    <nav th:fragment="navigation">
        <ul>
            <li><a href="/">Home</a></li> <!-- href is URL address -->
            <li><a href="/contact">Contact</a></li>
            <li><a href="/contact/form">Contact Form</a></li>
        </ul>
    </nav>

</body>
</html>