<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:fragment="head">
        <!-- Required Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- BootStrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

        <title th:text="${title}">Default Title</title>
    </head>
    <body>

        <!-- HEADER -->
        <header th:fragment="header">
            <h1 th:text="${title}">Default Heading</h1>

            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    
                    <!-- Logo -->
                    <a class="navbar-brand" href="/">[Logo]</a>

                    <!-- Toggle Nav Button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navigation Links -->
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            
                            <!-- Home -->
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            
                            <!-- Recipes - Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Recipes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/recipes?type=none">Recipes</a></li>
                                    <li><a class="dropdown-item" href="/recipes/create">Create Recipe</a></li>
                                    <li><a class="dropdown-item" href="/recipes/delete">Delete Recipe</a></li>
                                </ul>
                            </li>
                                
                            <!-- Cuisines - Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cuisines
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/recipes/cuisine">Cuisines</a></li>
                                    <li><a class="dropdown-item" href="/recipes/cuisine/create">Create Cuisine</a></li>
                                    <li><a class="dropdown-item" href="/recipes/cuisine/delete">Delete Cuisine</a></li>
                                </ul>
                            </li>
                            
                            <!-- Categories - Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categories
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/recipes/category">Categories</a></li>
                                    <li><a class="dropdown-item" href="/recipes/category/create">Create Category</a></li>
                                    <li><a class="dropdown-item" href="/recipes/category/delete">Delete Category</a></li>
                                </ul>
                            </li>
                            
                            <!-- Search -->
                            <li><a class="nav-link" href="/recipes/search">Search Recipe</a></li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            <br>
        </header>

        <!-- FOOTER -->
        <footer th:fragment="footer">
            <hr>
            <div class="row row-cols-1 row-cols-md-4 g-4">
    
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-title">
                                <!-- TODO: Create a logo for your website -->
                                <a class="d-inline-flex align-items-center text-decoration-none">
                                    <!-- Logo goes here -->
                                    <svg class="d-block me-2" height="30" width="30">
                                        <circle cx="15" cy="15" r="14" stroke="black" stroke-width="1" fill="black" />
                                    </svg>
                                    <!-- Company name goes here -->
                                    <span class="fs-5">The Chef's Notebook</span>
                                </a>
                            </div>
                            <ul class="list-unstyled small texted-muted">
                                <li class="mb-2">Designed and built with all the love in the world to make chefs work easier.</li>
                                <li class="mb-2">Code license MIT, docs <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0</a></li>
                                <li class="mb-2">Site Updated: July 8, 2022</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Links</h5>
                            <ul class="list-unstyled small texted-muted">
                                <li class="mb-2"><a href="/recipes?type=none">Recipes</a></li>
                                <li class="mb-2"><a href="/recipes/cuisine">Cuisines</a></li>
                                <li class="mb-2"><a href="/recipes/category">Categories</a></li>
                                <li class="mb-2"><a class="link-secondary" href="#">Blog</a></li>
                                <li class="mb-2"><a class="link-secondary" href="#">Swag Store</a></li>
                                <li class="mb-2"><a class="link-secondary" href="#">Link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Guides</h5>
                            <ul class="list-unstyled small texted-muted">
                                <li class="mb-2"><a class="link-secondary" href="#">Getting Started</a></li>
                                <li class="mb-2"><a class="link-secondary" href="#">Cutting Techniques</a></li>
                                <li class="mb-2"><a class="link-secondary" href="#">Meal Prep</a></li>
                                <li class="mb-2"><a class="link-secondary" href="#">Nutrition Facts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Community</h5>
                            <ul class="list-unstyled small texted-muted">
                                <li class="mb-2"><a class="link-secondary" href="#">Issues</a></li>
                                <li class="mb-2"><a class="link-secondary" href="#">Discussions</a></li>
                                <li class="mb-2"><a class="link-secondary" href="#">Sponsors</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
    
            </div>
        </footer>

    </body>
</html>