<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:fragment="head">
        <!-- Required Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- BootStrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

        <title th:text="${title}">Default Title</title>
    </head>
    <body>

        <!-- Navigation -->
        <header th:fragment="header">
            <h1 th:text="${title}">Default Heading</h1>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    
                    <!-- Logo -->
                    <a class="navbar-brand" href="/">[Logo]</a>

                    <!-- Toggle Nav Button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navigation Links -->
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            
                            <!-- Home -->
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            
                            <!-- Recipes - Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Recipes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/recipes?type=none">Recipes</a></li>
                                    <li><a class="dropdown-item" href="/recipes/create">Create Recipe</a></li>
                                    <li><a class="dropdown-item" href="/recipes/delete">Delete Recipe</a></li>
                                </ul>
                            </li>
                                
                            <!-- Cuisines - Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cuisines
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/recipes/cuisine">Cuisines</a></li>
                                    <li><a class="dropdown-item" href="/recipes/cuisine/create">Create Cuisine</a></li>
                                    <li><a class="dropdown-item" href="/recipes/cuisine/delete">Delete Cuisine</a></li>
                                </ul>
                            </li>
                            
                            <!-- Categories - Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categories
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/recipes/category">Categories</a></li>
                                    <li><a class="dropdown-item" href="/recipes/category/create">Create Category</a></li>
                                    <li><a class="dropdown-item" href="/recipes/category/delete">Delete Category</a></li>
                                </ul>
                            </li>
                            
                            <!-- Search -->
                            <li><a class="nav-link" href="/recipes/search">Search Recipe</a></li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            <br>
        </header>

    </body>
</html>