<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        
        <!-- HEADER -->
        <header th:replace="fragments :: header"></header>

        <!-- BODY CONTENT -->
        <div class="container">
            <h1 class="red-box" th:text="${title}">Default Heading</h1>

            <!-- Cards -->
            <div class="card-container">
                <div class="flex-item-left">
                    <div class="card card-standard">
                        <!-- Month Number -->
                        <div class="card-header">
                            <h1>1</h1>
                        </div>
            
                        <!-- Date -->
                        <div class="card-body">
                            <p>January 1, 2022</p>
                        </div>
                    </div>
                </div>
        
                <div class="flex-item-middle">
                    <div class="card card-warning">
                        <!-- Month Number -->
                        <div class="card-header">
                            <h1>1</h1>
                        </div>
            
                        <!-- Date -->
                        <div class="card-body">
                            <p>January 1, 2022</p>
                        </div>
                    </div>
                </div>
        
                <div class="flex-item-right">
                    <div class="card card-danger">
                        <!-- Month Number -->
                        <div class="card-header">
                            <h1>1</h1>
                        </div>
            
                        <!-- Date -->
                        <div class="card-body">
                            <p>January 1, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer th:replace="fragments :: footer"></footer>

    </body>
</html>