<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<!-- HEADER -->

    <!-- Navigation -->
    <nav th:replace="fragments :: navigation"></nav>

<!-- BODY CONTENT -->

    <div class="container">

        <h1>Home Page</h1>

        <div class="row">
            
            <!-- Directs to Recipes Home Page -->
            <!-- column x/12 -->
            <div class="card col-3">
                <img src="/img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Recipes</h5>
                    <p class="card-text">Goes to the tool where people can record recipes.</p>
                    <a href="/recipes"><button class="btn btn-primary">GO!</button></a>
                    <!-- <a href="/recipe" class="btn btn-primary">GO!</a> -->
                </div>
            </div>

        </div>
    </div>

</body>
</html>