<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<!-- HEADER -->

    <!-- Navigation -->
    <nav th:replace="fragments :: navigation"></nav>

<!-- BODY CONTENT -->

    <!-- Search Contacts -->
    <h1>Search Contacts</h1>

    <br>

    <!-- Posts first name and last name to controller at /contact/search -->
    <p>Enter first and/or last name to search.</p>
    <form method="post" action="/contact">
        <div class="form-group">
            <label for="firstName">First Name: </label><br>
            <input id="firstName" type="text" name="contactFirstName" placeholder="First Name" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name: </label><br>
            <input id="lastName" type="text" name="contactLastName" placeholder="Last Name" />
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="submit" />
    </form>

    <hr>

    <h1 th:if="${!isSearching}">My Contact List</h1>
    <h1 th:if="${isSearching}">My Contacts List Filtered</h1>

    <br>

    <!--  Contacts Table  -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.id}">ID</td>
                <!-- ".firstName" Thymeleaf assumes getName() method  -->
                <td th:text="${contact.firstName}">First Name</td>
                <td th:text="${contact.lastName}">Last Name</td>
                <td th:text="${contact.email}">Email</td>
                <td th:text="${contact.country}">Country</td>
            </tr>
        </tbody>
    </table>

</body>
</html>