<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<!-- HEADER -->

    <h1>Navigation</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <hr>

<!-- BODY CONTENT -->

    <!-- Search Contacts -->
    <h1>Search Contacts</h1>
    <form>
        <lable for="firstName">First Name: </lable><br>
        <input id="firstName" type="text" placeholder="First Name" /><br>
        <lable for="lastName">Last Name: </lable><br>
        <input id="lastName" type="text" placeholder="Last Name" /><br><br>
        <input type="submit" value="submit" />
    </form>
    <hr>

    <h1>My Contact List</h1>
    <br>

    <!--  Table of Contacts  -->
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact : ${contacts}">
                <!-- ".firstName" Thymeleaf assumes getName() method  -->
                <td th:text="${contact.firstName}">First Name</td>
                <td th:text="${contact.lastName}">Last Name</td>
                <td th:text="${contact.email}">Email</td>
                <td th:text="${contact.country}">Country</td>
            </tr>
        </tbody>
    </table>
</body>
</html>