<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<!-- HEADER -->

    <h1>Navigation</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <hr>

<!-- BODY CONTENT -->

    <!-- Search Contacts -->
    <h1>Search Contacts</h1>
    <br>
    <!-- Posts first name and last name to controller at /contact/search -->
    <p>Enter first and last name to search.</p>
    <form method="post" action="/contact/search">
        <label for="firstName">First Name: </label><br>
        <input id="firstName" type="text" name="contactFirstName" placeholder="First Name" /><br>
        <label for="lastName">Last Name: </label><br>
        <input id="lastName" type="text" name="contactLastName" placeholder="Last Name" /><br><br>
        <input type="submit" value="submit" />
    </form>
    <hr>

    <h1>My Contact List</h1>
    <br>

    <!--  Contacts Table  -->
    <table th:replace="fragments :: contactsTable"></table>

</body>
</html>